body {
  background: #60cdd7;
  color: #fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  height: 100%;
}

canvas {
  border: #fff dashed 2px;
  color: #fff;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 5px 0;
  text-transform: uppercase;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 1.6em;
}

p {
  font-size: 1em;
}

#overlay {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#alphabet {
  margin: 15px auto;
  max-width: 900px;
  padding: 0;
  text-align: center;
}

#alphabet:after {
  clear: both;
  content: "";
  display: table;
}

#alphabet li {
  background: #fff;
  border: solid 1px #fff;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #60cdd7;
  cursor: pointer;
  float: left;
  height: 30px;
  list-style: none;
  margin: 0 10px 10px 0;
  width: 35px;
}

#alphabet li:hover {
  background: #60cdd7;
  border: solid 1px #fff;
  color: #fff;
}

.active {
  cursor: default;
  filter: alpha(opacity=40);
  opacity: 0.4;
  -moz-transition: all 0.3s ease-in-out;
  -moz-transition: all 1s ease-in;
  -webkit-transition: all 0.3s ease-in-out;
}

.active:hover {
  filter: alpha(opacity=40);
  opacity: 0.4;
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

#word {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

#mylives {
  display: block;
  font-size: 1.6em;
  text-align: center;
}

button {
  background: #c1d72e;
  border: solid 1px #fff;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  margin: 10px;
  outline: none;
  padding: 18px 10px;
  text-decoration: none;
  width: 180px;
}

button:hover {
  background: #fff;
  border: solid 1px #fff;
  color: #c1d72e;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {
  #alphabet {
    padding: 0 0 0 15px;
  }
}

@media (max-width: 480px) {
  #alphabet {
    padding: 0 0 0 25px;
  }
}